
body {
    background-color: #e9c46a;
    color: #003049;
    font-size: 1.5rem;
    /* list-style: none; */
}

body h1{
    text-align: center;
}

section {
    margin: 0.5rem;
    padding: .5rem;
    border: 3px solid #003049;
    box-shadow: 3px 3px 3px #003049;

}

.found {
    margin: 0.5rem;
    padding: .5rem;
    border: 3px solid #003049;
    box-shadow: 3px 3px 3px #003049;
    /* color:red; */
}
ul {
    list-style: none;
}

img{
    margin: 0 auto;
}