body {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(198, 252, 236);
    font-size: 1.3rem;
}

body h1,
h3 {
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer {
    padding: 2rem;
    background-color: azure;
    border: 2px solid black;
}

img {
    width: 30rem;
    border-radius: 50%;
}

.interview {
    padding: 3rem;
    width: 40rem;
    margin: 0 auto;
}